# React
frontend/node_modules/
frontend/dist/

# Django
backend/venv/
backend/.venv/
backend/env/
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Environment
.env
backend/.env
frontend/.env

# Python
__pycache__/
*.py[cod]

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db